/* 전체 문서에 Arial 폰트 적용 */
body {
    font-family: Arial, sans-serif;
}

/* 컨테이너의 최대 너비와 여백 설정 */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

/* 네비게이션 바의 레이아웃 설정 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* 로고의 여백 제거 */
.logo h1 {
    margin: 0;
}
/* 로고 텍스트의 데코 제거 */
.logo a {
    text-decoration: none;
    color: black;
}

/* 네비게이션 리스트 스타일 제거 및 간격 설정 */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* 여백 주기 */
}

/* 네비게이션 링크 스타일 설정 */
ul li a {
    text-decoration: none;
    color: black;
}

/* 새 재생목록 버튼 스타일 설정 */
.new-playlist {
    /*background-color: #007BFF;*/
    background-color: limegreen;
    border-radius: 12px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* 검색 입력창 스타일 설정 */
header input[type="text"] {
    border-radius: 12px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* 카드 행을 플렉스 박스로 설정하고, 래핑을 허용 */
.card-row {
    display: flex; /* .card-row 요소를 flexbox 컨테이너로 만듦. 요소를 가로로 배치 */
    /* 기본적으로 flexbox는 모든 항목을 한 줄에 배치하려고 하지만, wrap값을 사용하면 항목들을 여러 줄에 걸쳐 배치 가능 */
    flex-wrap: wrap; /* flexbox 컨테이너 항목들이 컨테이너 너비를 초과할 경우 다음 줄로 넘어가도록 만듦 */
    justify-content: space-between; /* 컨테이너 항목들 사이에 균등한 간격을 배치 */
}

/* 개별 카드 스타일 설정 */
.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden; /* 콘텐츠가 영역을 넘어설 때 보이지 않도록 숨김(hidden) */
    width: 320px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* 카드 이미지 스타일 설정 */
.card img {
    width: 100%;
    height: 200px;
    display: block;
}

/* 카드 정보 섹션의 패딩 설정 */
.info {
    padding: 10px;
}

/* 카드 제목의 여백 설정 */
.info h3 {
    margin: 0 0 5px;
}
